.img1 {
    display: flex;
    justify-content: center;
    height: 50px
}
.img2 {
    display: flex;
    height: 300px;
    border-radius: 20px;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.red_bg {
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
p {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section {
    font-size: 25px
}
